@model LoginAppSessionBased.DTOs.LoginDTO
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(m => m.UserName)
    </div>
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.UserName, new { htmnlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(m => m.Password)
    </div>
    <div class="col-md-8">
        @Html.PasswordFor(m => m.Password, new { htmnlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
</div>
 <br />
   
 <div class="row">
    <input type="submit" value="Login" class="btn btn-primary"/>
 </div>

}


